<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta Realizada</title>
    <link rel="stylesheet" href="/css/confirmacion.css">
</head>
<body>
<div class="container">
    <h1>Venta realizada con éxito!</h1>
    <div class="links">
        <a href="/venta/venta" class="link">Volver a comprar</a>
        <a href="/home/indexUsuario" class="link">Volver a la página principal</a>
    </div>
</div>
</body>
</html>