<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantalla de Venta</title>
  <link rel="stylesheet" href="/css/venta.css">
</head>
<body>
<div class="venta-container">
  <h1>Venta de Productos</h1>

  <form action="/venta/realizarVenta" method="post" onsubmit="return validarSeleccion()">
    <label for="stock">Stock:</label>
    <select id="stock" name="stock">
      <option value="">Selecciona un producto</option>
      <th:block th:each="stock : ${stocks}">
        <option th:value="${stock.id}" th:text="${stock.producto.nombre}"></option>
      </th:block>
    </select>

    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad" min="1" value="1">

    <button type="submit">Realizar Venta</button>
  </form>
  <div class="bottom-link">
    <a href="/indexUsuario" class="link">Volver</a>  </div>
</div>

<script>
  function validarSeleccion() {
    const select = document.getElementById('stock');
    if (select.value === "") {
      alert("Por favor, selecciona un item válido.");
      return false; // Prevenir que el formulario se envíe
    }
    return true; // Permitir que el formulario se envíe
  }
</script>

</body>
</html>