<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página No Encontrada</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/modern-business.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">404 - Página No Encontrada</h1>
        <p class="lead">Lo sentimos, pero la página que estás buscando no existe.</p>
        <hr class="my-4">
        <p>Es posible que hayas escrito mal la dirección o que la página haya sido movida.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Volver a la Página Principal</a>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
