<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metodo No Permitido</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/modern-business.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">405 - Método No Permitido</h1>
        <p class="lead">Lo sentimos, pero el método que has usado no está permitido para esta página.</p>
        <hr class="my-4">
        <p>Por favor, verifica la URL e intenta de nuevo.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Volver a la Página Principal</a>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
